*{
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Muli', sans-serif;
}
a{
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
p{
	font-size: 16px;
	color: #222;
	line-height: 27px;
	font-weight: 300;
	text-align: justify;
}
.btn{
	border-radius: 2px !important;
}
.d-btn{
	background: #3c1742;
	color: #fff;
	border:1px solid#3c1742;
	transition: all 0.3s;
	padding: 9px 30px;
	margin-bottom: 10px;
}
.d-btn:hover{
	background: #fff;
	color: #3c1742
}
.modal-content{
	border-radius:1px !important;
}
.modal-header{
	background: #3c1742;
	color: #fff;
}
.modal-header .close{
	color: #fff !important;
}
.form-control{
	border-radius: 2px !important;
}
.parsley-errors-list{
	list-style: none;
	padding: 0px;
}
.parsley-errors-list li{
	color: red;
	font-size: 11px;
	margin-top: 4px;
}
.d-heading{
	color: #3c1742;
	font-weight: 400;
	margin-top: 0px;
	font-size: 32px;
	margin-bottom: 30px;
}
.d-heading-main{
	font-weight: 300;
	border-bottom: 1px solid #b8b8b8;
	padding-bottom: 20px;
	margin-bottom: 30px;
	font-size: 37px;
}
.d-sub-heading{
	color: #3c1742;
	margin-bottom: 0px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 20px;
}
.d-banner-main{
	max-height: 430px;
	overflow: hidden;
}
.d-banner-main-p .col-sm-6{
	max-height: 430px;
	overflow: hidden;
	margin-bottom: 20px;
}

.d-banner-sub{
	overflow: hidden;height: 300px;
}
.d-banner-sub img{
	width: 100%;
}
.d-banner-main img, .d-banner-main-p img{
	width: 100%;
}
.d-banner-main h1{
	font-size: 50px;
	margin-top: 150px;
}
@media(max-width: 767px){
	.d-banner-main img{
		width: 150%;
		margin-left: -20%;
		text-align: center;
		vertical-align: middle;
		height: auto;
	}
	
	.d-banner-main-solutions img{
		margin-left: 0%;
		width: 120%;
	}
	.d-banner-main-career img{
		margin-left: -26%;
	}
}
#d-banner-main-map{
	height: 400px;
	width: 100%;
}
#d-map-legend {
    background: rgba(255,255,255,0.7);
    padding: 5px 10px;
    margin-right: 7px;
    margin-bottom: 7px;
  }
#d-map-legend img{
	width: 14px;
}
#d-map-legend p{
	font-size: 10px;
	margin: 0px;
}
.d-sidenav{
	position: fixed !important;
	z-index: 100;
	background: #fff;
}
.d-mobile-menu{
	display: none;
}
.d-mobile-menu a{
	color: #000;
	font-size: 30px;
	padding-top: 20px;
	display: block;
	margin-right: 20px;
}

.d-main-content{
	border-left: 1px solid #edeaea;
	overflow: hidden;
}
.d-footer{
	padding-top: 50px;
}
.d-footer-top h3{
	color: #3c1742;
	font-size: 22px;
	font-weight: 300;
}
.d-footer-cards{
	padding-top: 30px;
}
.d-footer-card-each{
	border:1px solid #ccc;
	padding: 10px 20px;
	height: 200px;
	margin-bottom: 20px;
	overflow-y:scroll;
	background: #fff;
}
.d-social-icons-list{
	list-style: none;
	
}
.d-social-icons-list li{
	float: left;
	margin-right: 5px;
}
@media(max-width: 767px){
	.d-social-icons-list{
		
	}
}
.d-date-wrap{
	width: 75%;
	position: absolute;
	top:160px;
	right:-18%;
}
.d-date-wrap img{
	
	width: 20px;
}
.d-date-wrap h3{
	color: #fff;
	background: #3c1742;
	margin:0px;
	font-size: 10px;
	font-weight: 700;
	float: left;
	padding: 5px 10px;
}
.d-footer-card-each h2{
	color: #222;
	font-size: 15px;
	margin: 0px;
}
.d-footer-card-each h5{
	font-weight: 700;
	font-size: 20px;
	color: #444;
	margin: 10px 0px 5px 0px;
}
.d-footer-cards .d-footer-card-each{
	transition:all 0.3s;
	background: #fff;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.d-footer-cards .d-footer-card-each:hover{
	box-shadow: 0px 0px 20px rgba(0,0,0,0);	
}
.d-footer-bottom{
	padding: 100px 0px 50px 0px;
	margin-top: -80px;
	background: #f5f4f4;
}
.d-footer-line{
	border-top:1px solid #ccc;
}
.d-footer-bottom-logo img{
	width: 100px;
	opacity: 0.4;
}
.d-footer-copyright p{
	font-size: 12px;
}
.d-footer-copyright ul{
	list-style: none;
	margin-top: -33px;
}
.d-footer-copyright ul li{
	float: right;
	margin-left: 50px;
}
.d-footer-copyright ul li a{
	font-size: 12px;
	color: #444;
}
.d-footer-links a{
	font-weight: 400;
	font-size: 18px;
	line-height: 40px;
	color: #444;
}
@media(max-width: 767px){
	.d-footer-links a{
		line-height: 20px;
		margin-bottom: 20px;
	}
}
.d-main-logo{
	padding:30px 0px 0px 0px;
	height: 142px;
}
.d-main-logo img{
	width: 80%;
	opacity: 0.9;
}
.d-sidenav-menu ul{
	list-style: none;
	padding: 0px;
}
.d-sidenav-menu ul li{
	display: block;
}
.d-sidenav-menu ul li a{
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif !important;
	color: #a5a5a5;
	font-size: 18px;
	padding:20px 25px;
	border-top:1px solid #edeaea;
	display: block;
	transition:all 0.4s;
}
.d-sidenav-menu ul li:last-child a{
	border-bottom: 1px solid #edeaea;
}
.d-sidenav-menu ul li a span.glyphicon{
	float: right;
}
.d-sidenav-menu ul li a:hover, .d-sidenav-menu ul li.active a{
	color: #3c1742;
	background: #f9f7f7;
	border-left:6px solid #3c1742;
}
.d-main-carousel .item img{
	
}
.d-main-carousel .carousel-caption p{
	font-size: 45px;
	font-weight: 300 !important;
	line-height: 70px;
	font-family: 'Muli', sans-serif;
	color: #fff;
}
.d-main-carousel .carousel-caption{
	
}
.d-content-about{
	padding: 0px 30px 50px 30px;
	background: #f5f4f4;
}
.d-four-points{
	
	padding: 50px 30px;
}
.d-four-points h4{
	text-align: center;
	font-size: 20px;
	font-weight: 300;
}
.d-four-point-each img{
	width: 73%;
	margin: 0px auto;
}
@media(max-width: 767px){
	.d-four-point-each h4{
		margin-bottom: 30px;
	}
}
.d-key-people-wrap img{
	width: 100%;
}
.d-key-people-wrap h5{
	text-transform: uppercase;
	font-size: 14px;
}
.d-key-people-wrap h3{
	margin-top: -5px;
	margin-bottom: 10px;
}
.d-key-people-wrap b{
	font-weight: 700;
	color: #3c1742;
}
.d-key-people-wrap p{
	font-weight: 300;
	color: #333;
	font-size: 14px;
	line-height: 22px;
	text-align: justify;
}
.d-grey-bg{
	background: #f5f4f4;
	overflow: hidden;
	padding: 50px 0px;
}
.d-icon-wrap{
	width: 80px;
	float: left;
	margin-right: 10px;
}
.d-icon-wrap img{
	width: 100%;
}
.d-icon-each{
	margin: 20px 0px 40px 0px;
	padding: 5px 40px;
}
.d-icon-each h4{
	font-size: 22px;
	margin-bottom: 5px;
}
.d-icon-each p{
	font-size: 14px;
	line-height: 17px;
}

.c-featured-each .c-featured-img-wrap{
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius:200px;
	float: left;
	margin-right: 20px;
}
.c-featured-each .c-featured-img-wrap img{
	width: 100%;
}
.c-featured-content p{
	margin-top: 50px;
}
.flickity-prev-next-button.previous, .flickity-prev-next-button.next{
	top: 90px;
}
.d-dark-grey-bg{
	background: #f5f4f4;
	min-height: 300px;
	padding: 20px 40px;
}
.d-dark-grey-bg h3{
	color: #d25134;
}
.d-org-bg{
	background: #d25134;
	color: #fff;
	min-height: 300px;
}
.d-org-bg .carousel{
	margin: 0px -15px;
	min-height: 250px;
}
.d-org-bg .item{
	padding: 0px 50px;
}
.d-org-bg .carousel-control.left{
	background-image: linear-gradient(to right,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
}
.d-org-bg .carousel-control.right{
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
}
.d-org-contact{
	padding: 30px 40px;
}
.d-org-bg p{
	color: #fff;
}
.d-life-img img{
	width: 100%;
}
.d-life-img a{
	cursor: pointer;
}
.d-life-img .col-sm-6{
	overflow: hidden;
	height: 385px;
}
.d-life-img .col-sm-6 .col-xs-6{
	height: 180px;
	margin-bottom: 25px;
	overflow: hidden;
}
.modal-body #d-image-modal{
	width: 100%;
}
.d-join-us-wrap h4{
	padding-bottom: 4px;
	border-bottom: 1px solid #ccc;
}
.d-join-us-header img{
	width: 25px;
	margin-right: 5px;
}
.d-job-each-wrap{
	background: #fff;
	margin-top: 10px;
	margin-bottom: 30px;
}
.d-job-each{
	padding: 10px 20px;
}
.d-job-each h5{
	font-size: 19px;
}
.d-job-each p{
	font-size: 13px;
	line-height: 18px;
}
.d-job-each-wrap p{
	text-align: left;
}
.d-job-each-wrap p.text-center{
	text-align: center;
}
.d-job-each .row{
	border-bottom: 1px solid #ddd;
	padding-top: 10px;
}
.d-job-each .row:last-child{
	border-bottom: 0px;
}
.d-view-more.d-disable{
	background: #fff;
	border:1px solid #3c1742;
	color: #3c1742;
}
.d-expanded-view-job{
	display: none;
	padding-top: 20px;
}
.d-inspiration-icon-wrap > img{
	width: 90%;
	margin-left: 5%;
}
.d-ins-img-wrap{
	margin-left: 20%;
	margin-top: 40px;
}
.d-ins-img-wrap img{
	width: 30px;
	margin-right: 50px;
}
.d-image-wrap img{
	width: 100%;
}
.d-yts-care p{
	font-size: 14px;
	line-height: 23px;
}
.d-capa-img{
	width: 80px;
	margin-right: 15px;
	float: left;
}
.d-capa-img img{
	width: 100%;
}
.d-capa-each p{
	font-size: 12px;
	line-height: 19px;
}
.d-capa-each{
	overflow: hidden;
}
.d-capa-each h4:first-child{
	font-weight: bold;
}
.d-solutions-text{
	position: absolute;
	top:200px;
	left: 150px;
	font-size: 60px;
	color: #444;
}
.d-inspiration-text{
	position: absolute;
	bottom:10px;
	right: 100px;
	font-size: 60px;
	color: #444;
	text-align: right;
}
.d-sol-img-wrap{
	margin-bottom: 25px;
	width: 100px;
	margin-top: 10px;
	float: left;
	margin-right: 10px;
}
.d-sol-img-wrap img{
	width: 90%;
}
.d-solutions-wrap .row .col-sm-6{
	margin-bottom: 30px;
	
}
.d-solutions-wrap h2{
	padding-bottom: 4px;
	border-bottom: 1px solid #ccc;
}
.d-solutions-wrap h2 img{
	width: 70px;
	margin-right: 10px;
}
.d-solutions-wrap p{
	font-size: 12px;
	line-height: 18px;
}
.d-solutions-wrap h4{
	font-size: 22px;
	font-weight: bold;
}
.d-solution-each{
	width: 90%;
	padding: 15px 5%;
	background: #fff;
	margin: 10px auto 0px auto;
	border:1px solid #ddd;
	overflow: hidden;
	min-height: 250px;
}
.d-partners-logo img{
	width: 80px;
}
.d-partners-logo-each{
	float: left;
	margin:10px 0px 10px 15px;
	padding-right: 15px;
	height: 40px;overflow: hidden;
	border-right:1px solid #ccc;
}
.d-dark-white{
	background: #fff;
}
@media( max-width: 767px){
	.d-sidenav{
		width: 100%;
	}
	.d-mobile-menu{
		display: block;
	}
	.d-main-logo{
		width: 180px;
		margin-top: -80px;
	}
	.d-sidenav-menu{
		display: none;
	}
	.d-sub-heading{
		margin-top: 90px;
		font-size: 15px;
		font-weight: 700;
	}
	.d-heading{
		font-size: 27px;
	}
	.d-main-logo{
		height: 110px;
	}
	.d-main-carousel .item{
		margin-top: 90px;
	}
	.d-main-carousel .carousel-caption p{
		font-size: 30px;
		line-height: 50px;
	}
	.c-featured-each{
		width: 100%;
	}
	.d-job-each-wrap h5.text-right{
		text-align: left;
	}
}